@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.encabezado section{
    background-color: #79ae29;
    padding: 15px 10px;
}

.encabezado img {
    width: 150px;
    height: 50px;
    object-fit: cover;
}

.encabezado nav {
    background-color: #2c2c2c;
    color:  white;
    display: flex; //agrupar horizontal a todos los de nav
   // justify-content: ; //solo se puede usar con flex
}

.encabezado a{
    color: white;
    text-decoration: none;
}

.menu-desplegable li{
    /* display: none; */
    padding: 10px;
    width: 200px;
    font-size: 12px;
    background-color: #2c2c2c;
}
.menu-desplegable div{
    display: 	none;
    position: absolute;
}

.encabezado ul, .encabezado a{
    padding: 10px;
}

.menu-desplegable span, .encabezado a{
    text-transform: uppercase;
}

.menu-desplegable:hover{
    cursor: pointer;
    font-weight: 900;
}

.menu-desplegable:hover div{
    display: block;
}